*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/hs_err_pid1872.log
/hs_err_pid2192.log
/hs_err_pid7204.log
/hs_err_pid8728.log
/hs_err_pid9888.log
/hs_err_pid11692.log
/hs_err_pid11844.log
/hs_err_pid13316.log
/hs_err_pid13460.log
/.idea/dictionaries/omarw.xml
/replay_pid8728.log
/replay_pid9888.log
/replay_pid13316.log
