body {
    background-color: rgb(37, 26, 105);
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

input, button, textarea, :focus {
    outline: none; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

div {
    margin-bottom: 10%;
}

#power_button {
    margin: auto;
    filter: invert(11%) sepia(88%) saturate(5859%) hue-rotate(1deg) brightness(116%) contrast(117%);
}

h2 {
    font-family: sans-serif;
    color: white
}

p {
    font-family: sans-serif;
    color: whitesmoke
}
